* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin: 15px;
}

.form {
    width: 100%;
    min-width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    width: 90%;
    font-size: 16px;
}

.input {
    width: 90%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

.button {
    background-color: blue;
    color: white;
    width: 40%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 15px;
}