html,
body {
    height: 100%;
}

.container {
    height: 100%;
}

.form-signin {
    max-width: 500px;
    padding: 1rem;
}

.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-floating {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-signin input[type="titulo"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="descricao"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}