* {
    margin: 0;
    padding: 0;
}

.row {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}